body {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5p;
    margin: 0;
    padding: 0;
	background-color: #292c2f;
}

ul {
    margin: 0;
    padding: 0;
}

/* Header */

/* Add black background color to the top nav*/
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside topnav */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change color when hovered obove links */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add active class to highlight current page */
.active {
    background-color: #f2f2f2;
    color: #333;
}

/* Hide link that should open topnav */
.topnav .icon {
    display: none;
}

/* When screen is >600 pixels wide, hide all links, except for "FOCUS". 
Show the link that contains should opne and close topnav (.icon). */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with js when user clicks
on the icon. This class makes topnav look good and not all crunch in smaller
displays */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Showcase */

.parallax {
    min-height: 800px;
    background: url(./focusMain.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.container span {
    text-transform: uppercase;
    display: block;
}

.text1 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    background-color: transparent;
    animation: text 3s 1;
}

.text2 {
    font-size: 30px;
    color: white;
    animation: text1 3s 1;
}

@keyframes text {
    0%{
        color: transparent;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

@keyframes text1 {
    0%{
        color: transparent;
    }
    30%{
        color: transparent;
    }
    85%{
        color: transparent;
    }
}

@media screen and (min-width: 800px){
    .text1 {
        font-size: 200px;
        letter-spacing: 70px;
        margin-bottom: 20px
    }
}